<% content_for :subtitle do %>
  <h3>...with a name .com hipsters love!</h3>
<% end %>

<table>
  <% @articles.each do |article| %>
  	<tr>
  	  <td><%= article.name %></td>
  	 </tr>
  <% end %>
</table>