body {
	font-family: Helvetica, Arial;
	background-color: #F5F5F5;
}

div#header p {
	color: #777;
	line-height: 0.2em;
}

div#header h1 {
	letter-spacing: -0.04em;
	line-height: 0.2em;
}

div#header {
	background-color: #CCC;
	padding: .5em;
}

div#menuBar {
}

div#menuBar ul{
	background-color: #000;
	float: left;
	list-style: none;
	margin: 0 0 .5em 0;
	padding: 0;
	width: 100%;
}

div#menuBar li{
	float: left;
}
div#menuBar li a {
	color: #FFF;
	display: block;
	padding: .6em 1em;
	text-decoration: none;
}

div#menuBar li a:hover{
	color: orange;
}

div#main {
	float: left;
	/*width: 26em;*/
}

div#progress {
	background-color: #C3DAF1;
	float: right;
	padding 0 1em;
}

div#mainText {
	float: left;
	width: 13em;
}

div#mainForm {
	float: right;
	width: 13em;
}

div#mainForm select {
	margin-top: 2em;
	margin-bottom: 2em;
}

div#footer {
	background-color: #DDD;
	position: relative;
	margin-top: 400px; /* negative value of footer height */
	height: 300px;
	padding-bottom: .01em;
	padding-top: .01em;
	text-indent: 5em;
}
	
