body {
	font-family: Helvetica, Arial;
}

div#header p {
	color: #777777;
	line-height: 0.2em;
}

div#header h1 {
	letter-spacing: -0.04em;
	line-height: 0.2em;
}

div#header {
	background-color: #CCCCCC;
	padding: .5em;
}