<% content_for :subtitle do %>
  <h3>...with a name .com hipsters love!</h3>
<% end %>

<div id="title">
	<h2>All the World's Articles</h2>
</div>

<div id="addLink">
	<%= link_to "Create an Article", new_article_path %>
</div>

<table>
  <% @articles.each do |article| %>
  	<tr>
  	  <td><%= article.name %></td>
  	 </tr>
  <% end %>
</table>